{% extends 'EvalforGescompevalBundle:Skill:parentdelete.html.twig' %}

{% block title %}
	Gescompeval - {{ 'outcome.delete.title'|trans({}, 'EvalforGescompevalBundle') }}
{% endblock %}

{% block skill_title %}
	{{ 'outcome.delete.title'|trans({}, 'EvalforGescompevalBundle') }}
{% endblock %}

{% block form_tag %}
	<form action="{{ path('EGB_delete_outcome') }}" method="post" role="form">
{% endblock %}

{% block option0 %}
	<option value="0">
		{{ 'outcome.select'|trans({}, 'EvalforGescompevalBundle') }}
    </option>
{% endblock %}